html {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 70px;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(156, 156, 238);
  display: flex;
  justify-content:space-between;
  align-items:center;
} 

.nav-links {
  margin-left: 25px;
  text-decoration: none;
  color: #cfc9c9;
  width: 350px;
  display: flex;
 
}

.nologo {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items:end;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .seccio {
    margin-top: 25px;
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin: 6px 0;
    color: #222;
  }
  
  strong {
    color: #000;
  }
  
  em {
    color: #555;
  }

  .footer {
    background-color: rgb(156, 156, 238);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 30px;
  }
  